<!doctype html>
<html>
    <head>
        <!-- Bootstrap CSS -->
            <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container" style="padding:10px">
                <div class="card mb-3 h-100">
                    <div class="card-header">Currently Playing or Burning</div>
                    <div class="card-body">
                       <p>Please wait until the last process is finished or eject the disk if you want to continue now.</p>
                    </div>
                </div>
        </div>
    </body>
</html>